#subFrameADVComment {
	-fx-background-color: #f9f9f9;
	-fx-border-color: lightgray;
	-fx-font-family: "GODOM";
}

#btnMin:hover, #btnClose:hover {
	-fx-cursor: hand;
}

#ScrollPane {
	-fx-background-color: #f9f9f9;
	-fx-border-color: lightgray;
	-fx-font-size: 12;
}

#AnchorPane {
	-fx-background-color: #f9f9f9;
	-fx-border-color: #f9f9f9;
	-fx-font-size: 12;
}

#taContent {
	-fx-background-color: #f9f9f9;
	-fx-border-color: #f9f9f9;
	-fx-font-size: 12;
}

#btnspeech:hover {
	-fx-cursor: hand;
}

#lalClick {
	-fx-background-color: #f9f9f9;
	-fx-border-color: #f9f9f9;
	-fx-font-size: 15;
}