
#MSGTitle {
	-fx-font-family: "godoRounded L";
	-fx-font-size: 50;
	-fx-font-weight: bold;
}

#name {
	-fx-font-family: "GODOM";
	-fx-font-size: 20;
}

#taMSG1, #taMSG2, #taMSG3, #taMSG4, #taMSG5, #taMSG6 {
	-fx-font-family: "tvN 즐거운이야기 Medium";
	-fx-font-size: 20;
	-fx-text-base-color: #b3afaf;
}

