#subFrameQuestion {
	-fx-background-color: #f9f9f9;
	-fx-border-color: #f9f9f9;
}

#taExercise, #taCode, #taResult {
	-fx-background-color: #f9f9f9;
	-fx-border-color: gray;
	-fx-font-family: "GODOM";
	-fx-font-size: 12;
	-fx-border-width: 1.7;
}

#btnSubmit, #btnHelp, #btnQuestion {
	-fx-background-color: lightgray;
	-fx-border-color: lightgray;
	-fx-font-family: "GODOM";
	-fx-font-size: 14; 	
	-fx-text-fill: black;
}

#btnSubmit:hover, #btnHelp:hover, #btnQuestion:hover {
	-fx-cursor: hand;
}