#subFrameFAQBoardDetail {
	-fx-background-color: #f9f9f9;
	-fx-font-family: "GODOM";
}

#lblSearchBoard {
	-fx-font-size: 30;
}

#lblWriter, #lblTitle {
	-fx-font-size: 15;
}

#admin {
	-fx-background-color: #f9f9f9;
	-fx-border-color: lightgray;
	-fx-font-size: 15;
}

#faqBoardTitle {
	-fx-background-color: #f9f9f9;
	-fx-border-color: lightgray;
	-fx-font-size: 15;
}

#btnBack {
	-fx-border-color: lightgray;
	-fx-background-color: #f9f9f9;
	-fx-font-size: 15;
}

#btnBack:hover {
	-fx-cursor:hand;
	-fx-background-color: lightgray;
}

#TextFlow {
	-fx-border-color: lightgray;
	-fx-background-color: #f9f9f9;
	-fx-font-size: 12;
}

#taContent {
	-fx-border-color: #f9f9f9;
	-fx-background-color: #f9f9f9;
	-fx-font-size: 12; 
}







